@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-background: #131313;
  --color-foreground: #e5e2e1;
  --color-surface: #131313;
  --color-surface-dim: #131313;
  --color-surface-bright: #3a3939;
  --color-surface-variant: #353534;
  --color-primary: #e1fdff;
  --color-primary-container: #00f2ff;
  --color-secondary: #ebb2ff;
  --color-secondary-container: #ce5dff;
  --font-sans: var(--font-space-grotesk), sans-serif;
  --font-orbitron: var(--font-orbitron), sans-serif;
}

:root {
  --background: #131313;
  --foreground: #e5e2e1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.clip-path-polygon {
  clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
}

